// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: Roboto, sans-serif;

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

:root {
  --mdc-filled-text-field-container-color: #1e1e1e;

  --mdc-filled-text-field-label-text-color: #9e9e9e;
  --mdc-filled-text-field-focus-label-text-color: #ffffff;

  --mdc-filled-text-field-input-text-color: #ffffff;

  --mdc-filled-text-field-active-indicator-color: #6f6f6f;
  --mdc-filled-text-field-focus-active-indicator-color: #ffffff;

  --mdc-filled-text-field-caret-color: #ffffff;
}
