html,
body {
  background-color: var(--primary-color);
  margin: 0;
  height: 100%;
}

:root {
  --primary-color: #0f0f0f;
  --accent-color: #272727;
  --hover-accent-color: #3f3f3f;
  --white: #ffffff;
}
