<div class="profile-page">
  <div class="profile-layout">
    <mat-card class="profile-card">
      <mat-icon>person</mat-icon>
      <h2 class="profile-title">{{ user.username }}</h2>
      <p class="profile-email">{{ user.email }}</p>

      <div class="profile-section">
        <div class="row">
          <div class="field">
            <span class="label">Ime</span>
            <span class="value">{{ user.name }}</span>
          </div>

          <div class="field">
            <span class="label">Prezime</span>
            <span class="value">{{ user.lastname }}</span>
          </div>
        </div>
      </div>

      <div class="profile-section">
        <h3>Adresa</h3>

        <div class="row">
          <div class="field">
            <span class="label">Država</span>
            <span class="value">{{ user.address.country }}</span>
          </div>

          <div class="field">
            <span class="label">Grad</span>
            <span class="value">{{ user.address.city }}</span>
          </div>
        </div>

        <div class="field full">
          <span class="label">Ulica</span>
          <span class="value">{{ user.address.street }}</span>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="posts-section">
    <h3 class="section-title">Objave</h3>
    <ng-container *ngIf="posts.length !== 0; else noPosts">
      <div class="posts-grid">
        <div class="post-card" *ngFor="let post of posts" (click)="displayPost(post)">
          <img class="thumbnail" [src]="post.thumbnail" alt="Post thumbnail" />
          <div class="post-content">
            <h4 class="title">{{ post.title }}</h4>
            <div class="views-time">
              <div class="views">
                <span class="detail-info">15</span>
                <span class="detail-info">pregleda</span>
              </div>
              <span class="detail-info">· {{ post.createdAt | date: 'dd MMM yyyy' }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noPosts>
      <p class="empty">Nema objava...</p>
    </ng-template>
  </div>
</div>
