.profile-page {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  width: 98vw;
  height: 90vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
  overflow: hidden;
  justify-items: center;
  justify-self: center;
}

.profile-layout {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: 100%;
  justify-self: center;
  overflow: hidden;
  border-radius: 0.6rem;
  border-style: solid;
  border-color: var(--secondary-color);
}

.profile-card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 14px;
  padding: 2rem;
  color: var(--white);
}

.profile-card mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.3rem;
  height: 4rem;
  width: 4rem;
  font-size: 48px;
  border-radius: 2.5rem;
  border-style: solid;
  border-width: 1.4px;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.profile-title {
  text-align: center;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.profile-email {
  text-align: center;
  opacity: 0.8;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.profile-section {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.field {
  flex: 1;
  background: var(--accent-color);
  padding: 0.8rem;
  border-radius: 8px;
}

.field.full {
  margin-top: 0.8rem;
}

.label {
  display: block;
  font-size: 0.75rem;
  opacity: 0.7;
}

.value {
  font-size: 0.95rem;
}

.posts-section {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  width: 100%;
  padding: 0.5rem 1.3rem;
  border-radius: 0.6rem;
  border-style: solid;
  border-color: var(--secondary-color);
  box-sizing: border-box;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.post-card {
  background: var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  height: 14rem;
  width: auto;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.post-card:hover {
  transition: transform 0.2s ease box-shadow 0.2s ease;
  box-shadow: 0 6px 20px rgb(42, 35, 35);
  background-color: var(--secondary-color);
}

.section-title {
  margin: 1.4rem 0.3rem;
}

.thumbnail {
  height: 8.5rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.post-content {
  padding: 0.7rem 0.8rem;
  flex: 1;
  overflow: hidden;
}

.title {
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  margin: 0rem 0;
}

.detail-info {
  color: var(--mid-accent-color);
  margin-right: 0.1rem;
  margin-top: 0.9rem;
  letter-spacing: 0.025rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.views {
  margin: 0.5rem 0rem;
  display: flex;
}

.views span {
  margin-right: 0.2rem;
}

.views-time {
  display: flex;
  align-items: center;
  margin: 0;
  height: 1.4rem;
}

@media (max-width: 900px) {
  .profile-page {
    grid-template-columns: 1fr; /* stack layout + posts */
  }

  .profile-layout {
    width: 100%;
    margin: 0 auto;
  }

  .posts-section {
    max-height: 60vh;
  }
}
