.login {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.login-card {
  width: 22.5rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.login-title {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.login-input {
  margin-top: 1rem;
  width: 100%;
}

.password-field {
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
}

.login-password-eye {
  font-size: 1.25rem;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-password-eye:hover {
  color: var(--hover-accent-color);
}

.login-submit {
  display: flex;
  justify-self: center;
  width: fit-content;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 0.7rem 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: background-color 0.3s;
}

.login-submit:hover {
  background-color: var(--hover-accent-color);
}

.register {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.3rem;
  font-weight: lighter;
  font-size: 0.85rem;
}

.register-link {
  margin-left: 0.8rem;
  font-weight: 400;
}

.validation-error {
  font-size: smaller;
  color: var(--error-color);
  margin-top: 0rem;
  margin-bottom: 0.7rem;
}
