.login-card {
  width: 22.5rem;
  padding: 2rem;
  background-color: var(--accent-color);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.login-title {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.login {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.center-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.login-input {
  margin-top: 1rem;
  width: 100%;
}

.login-password-eye {
  font-size: 1.25rem;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-password-eye:hover {
  color: var(--hover-accent-color);
}

.login-submit {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-submit:hover {
  background-color: var(--hover-accent-color);
}

.login-submit-text {
  font-family: var(--fnt-body);
  font-weight: 500;
  font-size: 1.25rem;
}

.password-field {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.login-button {
  text-align: center;
  margin-bottom: 1rem;
}
