<div class="home-grid">
  <div class="video-card" *ngFor="let post of posts" (click)="displayPost(post)">
    <img class="thumbnail" [src]="post.thumbnail" alt="thumbnail" />
    <div class="video-info">
      <h4 class="title">{{ post.title }}</h4>
      <p class="description">{{ post.description }}</p>

      <div class="tags">
        <span *ngFor="let tag of post.tags">#{{ tag }}</span>
      </div>

      <small class="meta"> {{ post.country }} , {{ post.city }} • {{ post.createdAt }} </small>
    </div>
  </div>
</div>
