<div *ngIf="fixedPosts$ | async as posts; else loading">
  <div *ngIf="posts.length > 0; else noPosts">
    <div class="home-grid">
      <div
        class="video-card"
        *ngFor="let post of posts; trackBy: trackById"
        (click)="displayPost(post)"
      >
        <img class="thumbnail" *ngIf="post.thumbnail" [src]="post.thumbnail" />

        <div class="video-info">
          <h4 class="title">{{ post.title }}</h4>
          <h6 class="detail-info">{{ post.user.username }}</h6>
          <div class="views-time">
            <div class="views">
              <span>15</span>
              <span>pregleda ·</span>
            </div>
            <h6 class="detail-info">{{ post.createdAt | date: 'dd MMM yyyy' }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="loading">Loading…</p>
</ng-template>

<ng-template #noPosts>
  <p class="loading">No posts.</p>
</ng-template>
