.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2.4rem;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin: 0;
  overflow-y: visible;
  height: auto;
}

.video-card {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  height: 22rem;
  flex-direction: column;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.video-card:hover {
  transition: transform 0.2s ease box-shadow 0.2s ease;
  box-shadow: 0 6px 20px rgb(42, 35, 35);
  background-color: var(--secondary-color);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.video-info {
  padding: 0.7rem 1.3rem;
}

.title {
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  margin: 0.3rem 0;
}

.detail-info {
  color: var(--mid-accent-color);
  font-size: 0.87rem;
  margin: 0.5rem 0rem;
  letter-spacing: 0.025rem;
}

.views {
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  margin-right: 0.3rem;
  color: var(--mid-accent-color);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.views-time {
  display: flex;
  align-items: center;
  margin: 0;
  height: 1.4rem;
}

.loading {
  display: flex;
  margin-top: 7rem;
  justify-self: center;
  font-size: large;
}
