.register-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
}

.register-card {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 35%;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(38, 38, 38, 0.4);
  padding: 3rem;
  margin-bottom: 4rem;
}

.register-title {
  display: flex;
  justify-content: center;
  color: var(--white);
}

.register-input {
  display: column;
  width: 100%;
  justify-items: center;
  margin-top: 0.3rem;
}

.password-field {
  display: flex;
  width: 100%;
}

.register-password-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.75rem;
  font-size: 1.25rem;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s;
}

.register-password-eye:hover {
  color: var(--hover-accent-color);
}

.register-submit {
  display: flex;
  justify-self: center;
  width: fit-content;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 0.7rem 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}

.register-submit:hover {
  background-color: var(--hover-accent-color);
}

.login {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.3rem;
  font-weight: lighter;
  font-size: 0.85rem;
}

.login-link {
  margin-left: 0.8rem;
  font-weight: 400;
}

.validation-error {
  font-size: smaller;
  color: var(--error-color);
  margin-top: 0rem;
  margin-bottom: 0.7rem;
}
