.navbar {
  display: flex;
  height: 8vh;
  padding: 0;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--dark-accent-color);
}

.navbar-menu {
  display: flex;
  width: 100%;
  height: 7vh;
}

.navbar-logo {
  font-size: xx-large;
  color: white;
  margin: 0 0.7%;
  font-size: medium;
}

.navbar-buttons {
  display: flex;
  width: 100%;
  margin-right: 0.3%;
  justify-content: flex-end;
  align-items: center;
}

.navbar-button {
  display: flex;
  margin-right: 0.3%;
}

.btn {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--white);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--dark-accent-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .btn {
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  border: none;
}

.dropdown-content {
  position: absolute;
  right: 5%;
  top: 100%;
  margin-top: 0.5rem;
  border-radius: 0.01rem;
  background-color: var(--white);
  min-width: 10rem;
  z-index: 1;
  overflow: hidden;
}

.dropdown-menu-link {
  display: block;
  align-items: center;
  padding: 0.75rem 1rem;
  width: 100%;
  text-decoration: none;
  text-align: left;
  font-weight: 500;
  font-family: inherit;
  color: var(--dark-color);
  transition: transform 0.3s;
  cursor: pointer;
}

.createbtn:hover {
  border: none;
  background: none;
  transition: transform 0.3s;
  transition: all 0.3s ease-in-out;
}
