<div class="navbar">
  <div class="navbar-menu">
    <div class="logo" (click)="home()">
      <img class="logo-image" src="assets/logo.svg" alt="Logo" />
      <div class="logo-text">Jutjubić</div>
    </div>
  </div>
  <div class="navbar-buttons">
    <button *ngIf="!isLoginPage && !isRegisterPage && !isLoggedIn" class="btn" (click)="login()">
      <mat-icon>login</mat-icon>
      <span class="btn-text">Prijava</span>
    </button>
    <button *ngIf="!isHomePage" class="btn" (click)="home()">
      <mat-icon class="btn-home">home</mat-icon>
      <span class="btn-text">Početna</span>
    </button>
  </div>
  <div class="navbar-buttons" *ngIf="!isLoginPage && !isRegisterPage && isLoggedIn">
    <button class="btn" (click)="create()">
      <mat-icon class="btn-add">add</mat-icon>
      <span class="btn-text">Objava</span>
    </button>
    <button
      class="btn-wp"
      *ngIf="!isWatchPartyPage && !isWatchPartiesPage && isWatchPartyCreator"
      (click)="displayWatchParties()"
    >
      <mat-icon class="btn-add">smart_display</mat-icon>
      <span class="btn-text">Pokreni watch party</span>
    </button>

    <div class="navbar-button dropdown">
      <button class="btn dropbtn" (click)="toggleMenu()">
        {{ user?.username }}
      </button>
      <div class="dropdown-content" *ngIf="dropdownOpen">
        <a class="dropdown-menu-link" (click)="profile(this.user!)"
          ><mat-icon>person</mat-icon>Profil</a
        >
        <a class="dropdown-menu-link" (click)="createWatchParty()"
          ><mat-icon>celebration</mat-icon>Watch party</a
        >
        <a class="dropdown-menu-link" (click)="logout()"><mat-icon>logout</mat-icon>Odjava</a>
      </div>
    </div>
  </div>
</div>
