.navbar {
  display: flex;
  height: 8vh;
  padding: 0;
  background-color: var(--primary-color);
}

.navbar-menu {
  display: flex;
  width: 100%;
  height: 7vh;
  margin-left: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.logo-text {
  color: var(--white);
  margin: 0 0.7%;
  font-size: large;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  width: 100%;
  margin-right: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.navbar-button {
  display: flex;
  margin-right: 0.3%;
}

.btn {
  display: flex;
  width: fit-content;
  height: 2rem;
  background-color: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
  padding: 1.2rem 0.6rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.btn-text {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: var(--accent-color);
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.btn-logout {
  margin-left: 0.35rem;
}
