<div class="navbar">
  <div class="navbar-menu">
    <div class="logo">
      <img class="logo-image" alt="Logo" />
      <div class="logo-text">Jutjubic</div>
    </div>
  </div>
  <div class="navbar-buttons">
    <ng-container
      *ngIf="{
        loggedIn: loggedIn$ | async,
        isAuthPage: isAuthPage$ | async
      } as state"
    >
      <button class="btn" *ngIf="!state.loggedIn && !state.isAuthPage" (click)="login()">
        <mat-icon>login</mat-icon>
        <span class="btn-text">Prijava</span>
      </button>

      <button class="btn" *ngIf="state.loggedIn && !state.isAuthPage">
        <mat-icon class="btn-add">add</mat-icon>
        <span class="btn-text">Kreiraj</span>
      </button>

      <button class="btn">
        <mat-icon class="btn-home">home</mat-icon>
        <span class="btn-text">Početna</span>
      </button>

      <button class="btn" *ngIf="state.loggedIn">
        <mat-icon>person</mat-icon>
      </button>

      <button class="btn" *ngIf="state.loggedIn" (click)="logout()">
        <mat-icon btn-logout>logout</mat-icon>
        <span class="btn-text">Odjava</span>
      </button>
    </ng-container>
  </div>
</div>
