.navbar {
  display: flex;
  height: 8vh;
  padding: 0;
  background-color: var(--primary-color);
}

.navbar-menu {
  display: flex;
  width: 100%;
  height: 7vh;
  margin-left: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  height: 2rem;
  width: 2.2rem;
  margin-right: 0.3rem;
}

.logo-text {
  color: var(--white);
  margin: 0 0.7%;
  font-size: larger;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.navbar-button {
  display: flex;
  margin-right: 0.3%;
}

.btn {
  display: flex;
  width: fit-content;
  height: 2rem;
  background-color: var(--secondary-color);
  color: var(--white);
  cursor: pointer;
  padding: 1.2rem 0.6rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.btn-text {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: var(--accent-color);
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.btn-logout {
  margin-left: 0.35rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .btn {
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  border: none;
}

.dropdown-content {
  position: absolute;
  right: 4%;
  top: 100%;
  margin-top: 0.5rem;
  border-radius: 0.01rem;
  background-color: var(--dark-accent-color);
  min-width: 10.5rem;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 1rem;
}

.dropdown-menu-link {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
  font-family: inherit;
  background-color: var(--dark-accent-color);
  color: var(--white);
  cursor: pointer;
  gap: 0.8rem;
  height: 1rem;
  border-radius: 1rem;
}

a:hover {
  background-color: var(--accent-color);
  border-radius: 1rem;
  width: auto;
}

.dropdown-menu-link mat-icon {
  font-size: larger;
}

i {
  color: wheat;
}
