.container {
  display: grid;
  grid-template-columns: 1fr 400px;
  margin: 0.9rem 2.7rem;
  overflow-y: visible;
  gap: 1.6rem;
  height: auto;
  padding-bottom: 4rem;
}

.section-video {
  width: 100%;
  height: 100%;
}

.section-comments {
  width: auto;
  height: auto;
  max-height: 125vh;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  border-radius: 0.6rem;
  border-style: solid;
  overflow-y: auto;
  border-color: var(--secondary-color);
}

.video {
  width: 100%;
  height: 74vh;
  object-fit: cover;
  margin: 0.2rem 0;
  border-radius: 0.8rem;
}

.title {
  margin: 0.6rem 0.25rem;
  letter-spacing: 0.05rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.profile-like {
  display: flex;
  margin: 0;
  padding: 0;
}

.like-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.5rem;
}

.like-btn {
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile-btn {
  display: flex;
  justify-self: center;
  align-items: center;
  width: fit-content;
  border: none;
  padding: 0rem 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.2rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
}

.views-date-place-decription {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  margin: 0.4rem 0rem;
  padding: 0.9rem 0.5rem;
  line-height: 1.2rem;
  font-size: 0.85rem;
}

.description {
  white-space: pre-line;
  margin: 0.5rem 0 0.3rem 0;
}

.views-date-place {
  display: flex;
  gap: 0.6rem;
}

.place {
  display: flex;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.views {
  margin-right: 0.4rem;
}

.views span {
  margin-left: 0.2rem;
}

.date {
  margin-right: 0.4rem;
}

.comments-title {
  display: flex;
  align-items: center;
  margin: 0.4rem 0.6rem;
  height: 2.8rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
  flex: 0 0 auto;
  z-index: 2;
}

.no-comments {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.comments-container {
  flex: 1 1 auto;
  display: flex;
  height: 100vh;
  gap: 0.5rem;
  flex-direction: column;
  background: var(--dark-accent-color);
  padding: 0rem 0.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: auto;
}

.comment {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
  padding: 0.5rem 0.5rem;
  overflow: visible;
}

.comment .text {
  height: auto;
  min-height: 1rem;
  white-space: pre-wrap;
  margin-top: 0.4rem;
  word-wrap: break-word;
}

.date {
  margin-left: auto;
  color: var(--mid-accent-color);
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.85rem;
  letter-spacing: 0.04rem;
}

.person-comment {
  display: flex;
  align-items: center;
  font-size: small;
  margin-bottom: 0.3rem;
}

.person-comment span {
  margin-left: 0.5rem;
}

.comment-input {
  margin-left: 0 auto;
  flex-direction: column;
  flex: 0 0 auto;
}

.comment-input-person {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-top: 0.8rem;
}

.comment-input-person mat-icon {
  margin-right: 0.3rem;
}

.comment-input-send {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}

.comment-input textarea {
  flex: 1;
  margin-right: 0.6rem;
  margin-top: 0rem;
  margin-left: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--mid-accent-color);
  border-left: none;
  border-top: none;
  border-right: none;
  background-color: transparent;
  margin-bottom: 0.5rem;
  min-height: 3rem;
}

.comment-btn {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  gap: 1rem;
  margin-top: 0.4rem;
}

.pagination mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}
.pagination button {
  color: var(--white);
  border: none;
  background-color: transparent;
  font-size: medium;
}
