<div *ngIf="post$ | async as post" class="container">
  <div class="section-video">
    <video
      class="video"
      [src]="post.video"
      controls
      preload="metadata"
      autoplay
      controls
      playsinline
    ></video>
    <h4 class="title">{{ post.title }}</h4>
    <div class="details">
      <div class="profile-like">
        <button class="profile-btn" (click)="displayProfile(post.user)">
          <mat-icon>person</mat-icon>
          {{ post.user.username }}
        </button>
        <div class="like-info">
          <span>75</span>
          <button class="like-btn" (click)="tryLike()">
            <mat-icon>thumb_up</mat-icon>
          </button>
        </div>
      </div>

      <div class="views-date-place-decription">
        <div class="views-date-place">
          <span class="views">{{ post.views }}<span>pregleda</span></span>
          <span class="date"> {{ post.createdAt | date: 'dd MMM yyyy' }}</span>
          <div class="place">
            <span>{{ post.country }}</span>
            <span *ngIf="post.city != null && post.country != null"> · </span>
            <span>{{ post.city }}</span>
          </div>
        </div>
        <p class="description">{{ post.description }}</p>
        <div class="tags">
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of post.tags"> #{{ tag }} </mat-chip-row>
          </mat-chip-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="section-comments">
    <div class="comments-title">Komentari</div>

    <div class="comments-container">
      <div *ngIf="comments.length === 0" class="no-comments">
        <span>Nema komentara.</span>
      </div>

      <div class="comment" *ngFor="let comment of comments">
        <div class="person-comment">
          <div class="person-section" (click)="displayProfile(comment.user)">
            <mat-icon>person</mat-icon>
            <span>{{ comment.user.username }}</span>
          </div>
          <div class="date">
            <h5>{{ comment.createdAt | date: 'dd MMM yyyy' }}</h5>
          </div>
        </div>
        <span class="text">{{ comment.text }}</span>
      </div>
    </div>

    <div class="pagination">
      <button (click)="prevPage()" [disabled]="page === 0">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>Stranica {{ page + 1 }} / {{ totalPages }}</span>

      <button (click)="nextPage()" [disabled]="page + 1 === totalPages">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <div class="comment-input">
      <div class="comment-input-person">
        <mat-icon>person</mat-icon>
        <span *ngIf="!isLoggedIn">Gost</span>
        <span *ngIf="isLoggedIn">{{ user!.username }}</span>
      </div>
      <div class="comment-input-send">
        <textarea [(ngModel)]="commentText" type="text" placeholder="Napiši komentar..."></textarea>
        <button class="comment-btn" (click)="tryComment()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
